.cursor-heart {
  position: fixed;
  font-size: 1rem;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  -webkit-user-select: none;
  user-select: none;
}

